h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3);
    background-color: #87ceeb;
border: solid 0px pink;
color: gold;
padding: 20px 50px;
margin: 0px auto 0px auto;
width: 600px;
}
div{
    background-color: #0077BE;
    border: solid 0px pink;
    padding: 20px 50px;
    margin: 0px auto 0px auto;
    width: 600px;
}
#pooi{
    background-color: #EDC9AF;
    padding: 10px 50px;
    margin: 0px auto 0px auto;
    width: 600px;
}
p{
    color: rgb(0, 214, 221);
}
