div{
    height: 200px;
    width: 770px;
    background-color: #EDC9AF;
    margin: 0px auto 0px auto;
}
.pooi{
    background-color: #0077BE;
    height: 88%;
}
h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3);
    background-color: #87ceeb;
color: gold;
padding: 30px 0px 65px 25px;
}
